streamlit
fastapi
uvicorn
sqlalchemy
pandas 
numpy 
pillow 
opencv-python
openai 
whisper 
pytesseract 
transformers 
torch 
diffusers 
face-recognition
scikit-learn 
nltk 
python-multipart
google-generativeai
dotenv
bitsandbytes